import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

df = spark.sql("""
    {{sql}}
""")


df.repartition(1) \
    .write \
    .mode("{{write_mode}}") \
    .insertInto("{{database}}.{{table}}")
