import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

sc = pyspark.SparkContext()
sc.setSystemProperty("user.name", "hadoop")

spark = SparkSession.builder.getOrCreate()

spark.sql("""
    {{sql}}
""")
