import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()

spark.sql("""
    {{sql}}
""")

spark.sql("MSCK REPAIR TABLE {{database}}.{{table}};")
